{% extends 'base.html.twig' %}

{% block content %}
    <h1>Comment</h1>
    <hr>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>Publication</th>
                <td>{{ comment.publication }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ comment.pseudo }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ comment.message }}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <ul class="list-inline">
        <li>
            <a href="{{ path('comment_index') }}" class="btn btn-sm btn-default">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('comment_edit', { 'id': comment.id }) }}"
                class="btn btn-sm btn-warning">
                Edit
            </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-sm btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
