{% block extends %}
{{ "{% extends 'base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block content %}" }}
    <h1>{{ entity_singularized|capitalize }} creation</h1>
    <hr>
    {{ '{{ form_start(form, {\'attr\': {\'novalidate\': \'novalidate\'}}) }}' }}
        {{ '{{ form_widget(form) }}' }}
        {#<input type="submit" value="Create" class="btn btn-sm btn-success" />#}
    {{ '{{ form_end(form) }}' }}
    <hr>
{% set hide_edit, hide_delete = true, true %}
{{ include('crud/views/others/record_actions.html.twig.twig') -}}
{{ "{% endblock %}" }}
{% endblock body %}
